/***** PAGE CONCEPT ******/

/**** origine ****/
.concepts {
    margin-top: 100px;
}
div.rectangle.origine{
    z-index: -1;
    width:800px;
    height:500px;
    background:#F2CF40;
}
div.rectanglesecond.origine{
    z-index: -1;
    width:700px;
    height:300px;
    background:#9D0C22;
}
h2.title.origine{
    font-family: 'Muli', sans-serif;
    font-size: 140px;
    color: #9D0C22;
}
.origine p{
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    color: #ffffff;
    position :absolute;
    width:600px;
    margin: 40px 40px;
}
.nosgammes{
    font-family: 'Nunito', sans-serif;
    font-size: 150px;
    color: #A2A2A2;
    text-align: center;
    position :relative;
    margin-top: 900px;
}
/**** gammeesprit ****/
div.rectangle.gammeesprit{
    z-index: -1;
    width:600px;
    height:500px;
    background:#6A6E8D;
    display: inline-block;
}
h2.title.gammeesprit{
    font-family: 'Muli', sans-serif;
    font-size: 150px;
    color: #6A6E8D;
}
.gammeesprit p{
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    color: #000000;
}

/**** gammeforce ****/
div.rectangle.gammeforce{
    z-index: -1;
    width:700px;
    height:500px;
    background:#C72C48;
    display: inline-block;
    margin-top: 300px
}
h2.title.gammeforce{
    font-family: 'Muli', sans-serif;
    font-size: 120px;
    color: #C72C48;
    margin-top: 300px
}
.gammeforce p{
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    display: inline-block;
    color: #000000;
}
div.textsecond.gammeforce{
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    display: inline-block;
    color: #000000;
}

/**** gammeenergie ****/
div.rectangle.gammeenergie{
    z-index: -1;
    width:600px;
    height:500px;
    background:#F2CF40;
    display: inline-block;
    margin-top: 300px
} 
h2.title.gammeenergie{
    font-family: 'Muli', sans-serif;
    font-size: 120px;
    color: #F2CF40;
    margin-top: 300px
}
.gammeenergie p{
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    color: #000000;
}
div.textsecond.gammeenergie{
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    display: inline-block;
    color: #000000;
}

/**** gammedetox ****/
div.rectangle.gammedetox {
    z-index: -1;
    width:700px;
    height:500px;
    background:#A7B635;
    display: inline-block;
    margin-top: 300px
}
h2.title.gammedetox {
    font-family: 'Muli', sans-serif;
    font-size: 120px;
    color: #A7B635;
    margin-top: 300px
}
.gammedetox p{
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    display: inline-block;
    color: #000000;
}
div.textsecond.gammedetox{
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    display: inline-block;
    color: #000000;
}

/**** gout ****/
div.rectangle.gout {
    z-index: -1;
    width: 0;
    height: 0;
    border-left: 700px solid transparent;
    border-right: 700px solid transparent;
    border-bottom: 500px solid #4D537E;
    display: inline-block;
    transform: translate(-55%);
    margin-top: 400px
}
h2.title.gout {
    font-family: 'Muli', sans-serif;
    font-size: 50px;
    color: #4D537E;
    display: inline-block;
    margin-top: 400px
}
.gout p{
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    display: inline-block;
    color: #000000;
}

@media only screen and (min-width: 375px) and (max-width: 667px) {
    .concept {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    div.rectangle.gammeforce{
        margin-top: 40px;
    }
    div.rectangle.gammedetox{
        margin-top: 40px;
    }
    div.text-concept.gout{
        margin-top: -350px;
    }
    h2.title.origine{
        font-size: 80px;
    }
    div.rectangle.origine{
        width:300px;
        height:400px;
    }
    div.image-concept.origine img{
        width: 85%;
        height: 100%;
    }
    div.rectanglesecond.origine{
        width:350px;
        height:450px;
    }
    .origine p{
        font-size: 18px;
        width:320px;
        margin: 15px 20px;
    }
    .nosgammes{
        font-size: 70px;
    }
    div.image-concept.gammeesprit img{
        width: 70%;
        height: 100%;
    }
    h2.title.gammeesprit{
        font-size: 75px;
    }
    div.image-concept.gammeforce img{
        width: 70%;
        height: 100%;
    }
    h2.title.gammeforce{
        font-size: 75px;
        color: #C72C48;
    }
    div.image-concept.gammeenergie img{
        width: 70%;
        height: 100%;
    }
    h2.title.gammeenergie{
        font-size: 75px;
        margin-top: 100px;
    }
    div.image-concept.gammedetox img{
        width: 70%;
        height: 100%;
    }
    h2.title.gammedetox {
        font-size: 75px;
        margin-top: 100px;
    }
    div.image-concept.gout img{
        width: 70%;
        height: 100%;
    }
    h2.title.gout {
        font-size: 40px;
    }
}


