body {
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Muli', sans-serif;
  text-transform: uppercase;
}

h4 a {
  color: #71AC29;
  text-decoration: none;
}

h4 a:hover {
  color: #71AC29;
  text-decoration: none;
}

.logo {
  float: left;
  max-width: 150px;
  height: auto;
  padding-right: 20px;
}

header#header {
  padding-top: 10px;
  padding-bottom: 20px;
}

.menu_header {
  font-family: 'Muli', sans-serif;
  float: right;
  list-style: none;
  padding-top: 20px;
}

.menu_header li {
  display: inline-block;
}

.menu_header a {
  text-decoration: none;
  color: #000000;
  padding-left: 40px;
}

.menu_header a:hover {
  color: #71AC29;
  padding-left: 40px;
  text-decoration: none;
}

/***** HOME ******/

.homesmoothies {
  max-width: 1800px;
  height: 650px;
}

.homebutton {
  color: #71AC29;
  text-align: center;
  padding-top: 30px;
}

/***** PAGE CONCEPT ******/
/**** origine ****/
div.rectangle.origine{
  z-index: -1;
	width:1000px;
	height:400px;
	background:#F2CF40;
  display: inline-block;
  position: absolute;
  margin-top: 200px;
}

h2.title.origine{
  font-family: 'Muli', sans-serif;
  font-size: 120px;
  color: #9D0C22;
  margin-left: -300px;
  margin-top: 50px;
}
.origine p{
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  display: inline-block;
  position: absolute;
  margin-top: -80px;
  margin-left: -300px;
  margin-right: 400px;
  color: #000000;
}
/**** healthy ****/
div.rectanglesecond.origine{
  z-index: -1;
	width:700px;
	height:200px;
	background:#9D0C22;
  display: inline-block;
  position: absolute;
  margin-top: 150px;
  margin-left: -50px;
}

h2.titlesecond.origine{
  color: #F2CF40;
  font-family: 'Muli', sans-serif;
  font-size: 70px;
  margin-top: 150px;
  margin-left: 400px
}
div.textsecond.origine{
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  display: inline-block;
  position: absolute;
  margin-top: -10px;
  margin-right: 200px;
  color: #ffffff;
}
/**** gammeesprit ****/
div.rectangle.gammeesprit{
  z-index: -1;
	width:600px;
	height:500px;
	background:#6A6E8D;
  display: inline-block;
  position: absolute;
  margin-top: 200px;
}

h2.title.gammeesprit{
  font-family: 'Muli', sans-serif;
  font-size: 150px;
  color: #6A6E8D;
  margin-top: 100px;
}
.gammeesprit p{
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  position: absolute;
  margin-right: 400px;
  color: #000000;
}
/**** gammeforce ****/
div.image-concept.gammeforce{
  margin-left: 900px;
}
div.rectangle.gammeforce{
  z-index: -1;
	width:800px;
	height:500px;
	background:#C72C48;
  margin-left: 800px;
  display: inline-block;
  position: absolute;
  margin-top: 200px;
}

h2.title.gammeforce{
  font-family: 'Muli', sans-serif;
  font-size: 120px;
  color: #F98196;
  margin-left: -800px;
  margin-top: 100px;
}
.gammeforce p{
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  display: inline-block;
  position: absolute;
  margin-top: -80px;
  margin-left: -800px;
  margin-right: 1100px;
  color: #000000;
}
/**** gammeenergie ****/
div.rectangle.gammeenergie{
  z-index: -1;
  width:600px;
	height:500px;
	background:#F2CF40;
  display: inline-block;
  position: absolute;
  margin-top: 200px;
}

h2.title.gammeenergie{
  font-family: 'Muli', sans-serif;
  font-size: 120px;
  color: #FBE58A;
  margin-top: 100px;
}
.gammeenergie p{
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  position: absolute;
  margin-right: 390px;
  color: #000000;
}
/**** gammedetox ****/
div.image-concept.gammedetox{
  margin-left: 900px;
}
div.rectangle.gammedetox {
  z-index: -1;
  width:800px;
	height:500px;
	background:#A7B635;
  margin-left: 800px;
  display: inline-block;
  position: absolute;
  margin-top: 200px;
}

h2.title.gammedetox {
  font-family: 'Muli', sans-serif;
  font-size: 120px;
  color: #A0BE7D;
  margin-left: -800px;
  margin-top: 100px;
}
.gammedetox p{
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  display: inline-block;
  position: absolute;
  margin-top: -80px;
  margin-left: -800px;
  margin-right: 1100px;
  color: #000000;
}
/**** gammedetox ****/
div.image-concept.gout{
  width: 150%;
  height: auto;
  margin-left: -100px;
}
div.rectangle.gout {
  z-index: -1;
  display: inline-block;
  position: absolute;
  width:40px;
  height:10px;
  border:1px solid #4D537E;
  border-color:transparent transparent #4D537E transparent;
  border-width:600px;
  margin-top: -700px;
  margin-left: -620px;
}
h2.title.gout {
  font-family: 'Muli', sans-serif;
  font-size: 50px;
  color: #4D537E;
  margin-left: -300px;
  margin-top: 100px;
}
.gout p{
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  position: absolute;
  display: inline-block;
  margin-top: -30px;
  margin-left: -300px;
  margin-right: -300px
  color: #000000;
}
/**** comment ****/
h2.title.comment {
  font-family: 'Muli', sans-serif;
  font-size: 60px;
  color: #4D537E;
  margin-top: 100px;
  margin-left: 500px;
}
.comment p{
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  position: absolute;
  display: inline-block;
  color: #000000;
}

/***** PRODUITS slider ******/

.owl-item>div {
  cursor: pointer;
  margin: 17% 17%;
  transition: margin 0.2s ease;
}

.owl-item.center>div {
  cursor: auto;
  margin: 0;
}

.owl-item:not(.center)>div h2.titleproduit a {
  visibility: hidden;
}

.owl-item.center>div h2.detox a {
  font-family: 'Muli', sans-serif;
  text-decoration: none;
  color: #A0BE7D;
  font-size: 350px;
  float: left;
  margin-left: -450px;
  margin-top: -200px;
}

.owl-item.center>div h2.energie a {
  font-family: 'Muli', sans-serif;
  text-decoration: none;
  color: #FBE58A;
  font-size: 350px;
  float: left;
  margin-left: -640px;
  margin-top: -200px;
}

.owl-item.center>div h2.esprit a {
  font-family: 'Muli', sans-serif;
  text-decoration: none;
  color: #6A6E8D;
  font-size: 350px;
  float: left;
  margin-left: -470px;
  margin-top: -200px;
}

.owl-item.center>div h2.force a {
  font-family: 'Muli', sans-serif;
  text-decoration: none;
  color: #F98196;
  font-size: 350px;
  float: left;
  margin-left: -450px;
  margin-top: -200px;
}

.owl-item:not(.center)>div:hover {
  opacity: .75;
}

.owl-prev {
  z-index: 2;
  font-family: 'Nunito', sans-serif;
  font-size: 450%;
  color: #E0E0E0;
  max-width: 80%;
  display: inline-block;
  position: absolute;
  left: 35%;
  top: 30%;
}

.owl-next {
  z-index: 2;
  font-family: 'Nunito', sans-serif;
  font-size: 450%;
  color: #E0E0E0;
  max-width: 80%;
  display: inline-block;
  position: absolute;
  left: 55%;
  top: 30;
}

/***** PRODUITS single.php slider ******/

.produit {
  max-hesight: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.produit header#header {
  padding-top: 40px;
}

@media only screen and (min-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .left-part-container-1 {
    display: inline-block;
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
  }
  .left-part-container-2 {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  .left-part {
    width: 100%;
    height: 100%;
    overflow: auto;
  }
  .left-part .detox {
    z-index: -1;
    font-family: 'Nunito', sans-serif;
    font-size: 450%;
    color: #A7B635;
    max-width: 80%;
    display: inline-block;
    position: absolute;
    left: 0;
  }
  .left-part .esprit {
    z-index: -1;
    font-family: 'Nunito', sans-serif;
    font-size: 450%;
    color: #4D537E;
    max-width: 80%;
    display: inline-block;
    position: absolute;
    left: 0;
  }
  .left-part .force {
    z-index: -1;
    font-family: 'Nunito', sans-serif;
    font-size: 450%;
    color: #C72C48;
    max-width: 80%;
    display: inline-block;
    position: absolute;
    left: 0;
  }
  .left-part .energie {
    z-index: -1;
    font-family: 'Nunito', sans-serif;
    font-size: 450%;
    color: #F2CF40;
    max-width: 80%;
    display: inline-block;
    position: absolute;
    left: 0;
  }
  .left-part .image-png {
    display: inline-block;
    position: absolute;
    max-width: 50%;
    height: auto;
    right: -20%;
  }
  .left-part .image-png img {
    max-height: 100%;
    max-width: 100%;
  }
  .titre-categorie {
    font-family: 'Muli', sans-serif;
    color: white;
    font-size: 50px;
    position: absolute;
    right: -110px;
    bottom: 30%;
    white-space: nowrap;
    display: inline-block;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: left top;
    transform-origin: left top;
    overflow: auto;
    max-width: calc(100vh - 200px);
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (-webkit-min-device-pixel-ratio: 1) {
  .left-part-container-1 {
    display: inline-block;
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
  }
  .left-part-container-2 {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  .left-part {
    width: 100%;
    height: 100%;
    overflow: auto;
  }
  .left-part .detox {
    font-family: 'Nunito', sans-serif;
    font-size: 320%;
    color: #A7B635;
    max-width: 50%;
    display: inline-block;
    position: absolute;
    margin-top: 6%;
    left: 0;
  }
  .left-part .esprit {
    font-family: 'Nunito', sans-serif;
    font-size: 320%;
    color: #4D537E;
    max-width: 50%;
    display: inline-block;
    position: absolute;
    margin-top: 6%;
    left: 0;
  }
  .left-part .force {
    font-family: 'Nunito', sans-serif;
    font-size: 320%;
    color: #C72C48;
    max-width: 50%;
    display: inline-block;
    position: absolute;
    margin-top: 6%;
    left: 0;
  }
  .left-part .energie {
    font-family: 'Nunito', sans-serif;
    font-size: 320%;
    color: #F2CF40;
    max-width: 50%;
    display: inline-block;
    position: absolute;
    margin-top: 6%;
    left: 0;
  }
  .left-part .image-png {
    display: inline-block;
    position: absolute;
    max-width: 100%;
    height: auto;
    right: -35%;
    margin-top: 25%;
  }
  .left-part .image-png img {
    max-height: 120%;
    max-width: 120%;
  }
  .titre-categorie {
    font-family: 'Muli', sans-serif;
    color: white;
    font-size: 40px;
    position: absolute;
    right: -120px;
    bottom: 30%;
    white-space: nowrap;
    display: inline-block;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: left top;
    transform-origin: left top;
    overflow: auto;
    max-width: calc(100vh - 200px);
  }
}

@media only screen and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 1) {
  .left-part-container-1 {
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .left-part-container-2 {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  .left-part {
    text-align: center;
    width: 100%;
    height: 100%;
    overflow: auto;
  }
  .left-part .detox {
    font-family: 'Nunito', sans-serif;
    font-size: 330%;
    color: #A7B635;
    text-align: left;
    max-width: 90%;
    display: inline-block;
    position: absolute;
    margin-top: 4%;
    left: 0;
    z-index: -1;
  }
  .left-part .esprit {
    font-family: 'Nunito', sans-serif;
    font-size: 330%;
    color: #4D537E;
    text-align: left;
    max-width: 90%;
    display: inline-block;
    position: absolute;
    margin-top: 4%;
    left: 0;
    z-index: -1;
  }
  .left-part .force {
    font-family: 'Nunito', sans-serif;
    font-size: 330%;
    color: #C72C48;
    text-align: left;
    max-width: 90%;
    display: inline-block;
    position: absolute;
    margin-top: 4%;
    left: 0;
    z-index: -1;
  }
  .left-part .energie {
    font-family: 'Nunito', sans-serif;
    font-size: 330%;
    color: #F2CF40;
    text-align: left;
    max-width: 90%;
    display: inline-block;
    position: absolute;
    margin-top: 4%;
    left: 0;
    z-index: -1;
  }
  .left-part .image-png {
    display: inline-block;
    max-width: 80%;
    height: auto;
    margin-top: 35%;
    z-index: 0;
    vertical-align: middle;
  }
  .left-part .image-png img {
    max-height: 100%;
    max-width: 100%;
  }
  .titre-categorie {
    font-family: 'Nunito', sans-serif;
    color: white;
    font-size: 480%;
    position: relative;
    white-space: nowrap;
    display: inline-block;
    margin: -25px auto;
    bottom: -20px;
    overflow: auto;
  }
}

@media only screen and (min-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .right-part-container-1.detox {
    display: inline-block;
    position: absolute;
    right: 0;
    max-width: 50%;
    text-align: center;
    background-color: #A7B635;
    height: 100%;
    overflow: hidden;
    box-shadow: -4px 0px 6px -2px rgba(0, 0, 0, 0.34);
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
  }
  .right-part-container-1.esprit {
    display: inline-block;
    position: absolute;
    right: 0;
    max-width: 50%;
    text-align: center;
    background-color: #4D537E;
    height: 100%;
    overflow: hidden;
    box-shadow: -4px 0px 6px -2px rgba(0, 0, 0, 0.34);
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
  }
  .right-part-container-1.force {
    display: inline-block;
    position: absolute;
    right: 0;
    max-width: 50%;
    text-align: center;
    background-color: #C72C48;
    height: 100%;
    overflow: hidden;
    box-shadow: -4px 0px 6px -2px rgba(0, 0, 0, 0.34);
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
  }
  .right-part-container-1.energie {
    display: inline-block;
    position: absolute;
    right: 0;
    max-width: 50%;
    text-align: center;
    background-color: #F2CF40;
    height: 100%;
    overflow: hidden;
    box-shadow: -4px 0px 6px -2px rgba(0, 0, 0, 0.34);
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
  }
  .right-part-container-2 {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  .right-part {
    width: 100%;
    height: 100%;
    overflow: auto;
    margin-top: 40px;
  }
  .right-part .produit-hr {
    max-width: 20%;
    color: white;
    display: block;
    border: 0;
    border-top: 2px solid #ffffff;
  }
  /* Title */
  .right-part .titre-produit {
    font-family: 'Muli', sans-serif;
    margin: 80px 100px 50px 100px;
    font-size: 150%;
    color: white;
  }
  /* 1st Information */
  .right-part .informations {
    font-family: 'Nunito', sans-serif;
    margin: 20px 80px;
    color: white;
  }
  .right-part .informations .sous-titre {
    text-align: center;
  }
  .right-part .informations .texte-normale {
    text-align: justify;
    text-align-last: left;
  }
  /* 2nd Information */
  .right-part .superfood {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    margin: 40px 80px;
    color: white;
  }
  .right-part .superfood .sous-titre {
    text-align: center;
  }
  .right-part .superfood .texte-normale {
    text-align: justify;
    text-align-last: left;
  }
  /* Menu infors nutrion */
  .right-part .nutrition {
    font-family: 'Nunito', sans-serif;
    text-align: justify;
    margin: 40px 160px;
    color: white;
  }
  .right-part .nutrition .sous-titre {
    text-align: center;
  }
  #menu-container {
    display: table;
    width: 100%;
  }
  .table-row {
    display: table-row;
  }
  .table-column {
    padding: 5px 0px;
    display: table-cell;
  }
  .left {
    text-align: left;
  }
  .right {
    text-align: right;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (-webkit-min-device-pixel-ratio: 1) {
  .right-part-container-1.detox {
    display: inline-block;
    position: absolute;
    right: 0;
    max-width: 50%;
    text-align: center;
    background-color: #A7B635;
    height: 100%;
    overflow: hidden;
    box-shadow: -4px 0px 6px -2px rgba(0, 0, 0, 0.34);
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
  }
  .right-part-container-1.esprit {
    display: inline-block;
    position: absolute;
    right: 0;
    max-width: 50%;
    text-align: center;
    background-color: #4D537E;
    height: 100%;
    overflow: hidden;
    box-shadow: -4px 0px 6px -2px rgba(0, 0, 0, 0.34);
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
  }
  .right-part-container-1.force {
    display: inline-block;
    position: absolute;
    right: 0;
    max-width: 50%;
    text-align: center;
    background-color: #C72C48;
    height: 100%;
    overflow: hidden;
    box-shadow: -4px 0px 6px -2px rgba(0, 0, 0, 0.34);
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
  }
  .right-part-container-1.energie {
    display: inline-block;
    position: absolute;
    right: 0;
    max-width: 50%;
    text-align: center;
    background-color: #F2CF40;
    height: 100%;
    overflow: hidden;
    box-shadow: -4px 0px 6px -2px rgba(0, 0, 0, 0.34);
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
  }
  .right-part-container-2 {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  .right-part {
    width: 100%;
    height: 100%;
    overflow: auto;
    margin-top: 30px;
  }
  .right-part .produit-hr {
    max-width: 20%;
    color: white;
    display: block;
    border: 0;
    border-top: 2px solid #ffffff;
  }
  /* Title */
  .right-part .titre-produit {
    font-family: 'Muli', sans-serif;
    margin: 80px 60px 50px 60px;
    font-size: 150%;
    color: white;
  }
  /* 1st Information */
  .right-part .informations {
    font-family: 'Nunito', sans-serif;
    margin: 20px 55px;
    color: white;
  }
  .right-part .informations .sous-titre {
    text-align: center;
  }
  .right-part .informations .texte-normale {
    text-align: justify;
    text-align-last: left;
  }
  /* 2nd Information */
  .right-part .superfood {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    margin: 40px 55px;
    color: white;
  }
  .right-part .superfood .sous-titre {
    text-align: center;
  }
  .right-part .superfood .texte-normale {
    text-align: justify;
    text-align-last: left;
  }
  /* Menu infors nutrion */
  .right-part .nutrition {
    font-family: 'Nunito', sans-serif;
    text-align: justify;
    margin: 40px 80px;
    color: white;
  }
  .right-part .nutrition .sous-titre {
    text-align: center;
  }
  #menu-container {
    display: table;
    width: 100%;
  }
  .table-row {
    display: table-row;
  }
  .table-column {
    padding: 5px 0px;
    display: table-cell;
  }
  .left {
    text-align: left;
  }
  .right {
    text-align: right;
  }
}

@media only screen and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 1) {
  .produit {
    overflow: scroll
  }
  .left-part .detox {
    font-family: 'Nunito', sans-serif;
    font-size: 730%;
    color: #A7B635;
    text-align: left;
    max-width: 90%;
    display: inline-block;
    position: absolute;
    margin-top: 4%;
    left: 0;
    z-index: -1;
  }
  .left-part .esprit {
    font-family: 'Nunito', sans-serif;
    font-size: 730%;
    color: #4D537E;
    text-align: left;
    max-width: 90%;
    display: inline-block;
    position: absolute;
    margin-top: 4%;
    left: 0;
    z-index: -1;
  }
  .left-part .force {
    font-family: 'Nunito', sans-serif;
    font-size: 730%;
    color: #C72C48;
    text-align: left;
    max-width: 90%;
    display: inline-block;
    position: absolute;
    margin-top: 4%;
    left: 0;
    z-index: -1;
  }
  .left-part .energie {
    font-family: 'Nunito', sans-serif;
    font-size: 730%;
    color: #F2CF40;
    text-align: left;
    max-width: 90%;
    display: inline-block;
    position: absolute;
    margin-top: 4%;
    left: 0;
    z-index: -1;
  }
  .right-part-container-1.detox {
    display: inline-block;
    max-width: 100%;
    text-align: center;
    background-color: #A7B635;
    height: 100%;
    overflow: hidden;
    box-shadow: -4px 0px 6px -2px rgba(0, 0, 0, 0.34);
  }
  .right-part-container-1.esprit {
    display: inline-block;
    max-width: 100%;
    text-align: center;
    background-color: #4D537E;
    height: 100%;
    overflow: hidden;
    box-shadow: -4px 0px 6px -2px rgba(0, 0, 0, 0.34);
  }
  .right-part-container-1.force {
    display: inline-block;
    max-width: 100%;
    text-align: center;
    background-color: #C72C48;
    height: 100%;
    overflow: hidden;
    box-shadow: -4px 0px 6px -2px rgba(0, 0, 0, 0.34);
  }
  .right-part-container-1.energie {
    display: inline-block;
    max-width: 100%;
    text-align: center;
    background-color: #F2CF40;
    height: 100%;
    overflow: hidden;
    box-shadow: -4px 0px 6px -2px rgba(0, 0, 0, 0.34);
  }
  .right-part-container-2 {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  .right-part {
    width: 100%;
    height: 100%;
    overflow: auto;
    margin-top: 20px;
  }
  .right-part .produit-hr {
    max-width: 20%;
    color: white;
    display: block;
    border: 0;
    border-top: 2px solid #ffffff;
  }
  /* Title */
  .right-part .titre-produit {
    font-family: 'Muli', sans-serif;
    margin: 80px 12% 50px 12%;
    font-size: 150%;
    color: white;
  }
  /* 1st Information */
  .right-part .informations {
    font-family: 'Nunito', sans-serif;
    margin: 20px 10%;
    color: white;
  }
  .right-part .informations .sous-titre {
    text-align: center;
  }
  .right-part .informations .texte-normale {
    text-align: justify;
    text-align-last: left;
  }
  /* 2nd Information */
  .right-part .superfood {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    margin: 40px 10%;
    color: white;
  }
  .right-part .superfood .sous-titre {
    text-align: center;
  }
  .right-part .superfood .texte-normale {
    text-align: justify;
    text-align-last: left;
  }
  /* Menu infors nutrion */
  .right-part .nutrition {
    font-family: 'Nunito', sans-serif;
    text-align: justify;
    margin: 40px 15% 0px 15%;
    color: white;
  }
  .right-part .nutrition .sous-titre {
    text-align: center;
  }
  #menu-container {
    position: relative;
    display: table;
    width: 100%;
  }
  .table-row {
    display: table-row;
  }
  .table-column {
    padding: 5px 0px;
    display: table-cell;
  }
  .left {
    text-align: left;
  }
  .right {
    text-align: right;
  }
}

/***** CONTACT ******/

.titlecontact {
  font-family: 'Muli', sans-serif;
  color: #71AC29;
  text-align: center;
}

.textecontact {
  font-family: 'Nunito', sans-serif;
  color: #000000;
  text-align: center;
}

.smoothiecontact {
  width: 150%;
  height: auto;
  margin-left: -100px;
}
