body{
  margin:0;
  font-size:16px;
  font-family: 'Arapey', serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Hammersmith One', sans-serif;
  text-transform: uppercase;
}


a{
  color:#71AC29;
  text-decoration: none;
}
a:hover{
  color:#71AC29;
  text-decoration: none;
}

header#header{
  background-color: #ffffff;
  padding-top:30px;
  padding-bottom:30px;
}

.logo{
  float: left;
  max-width: 150px;
  height: auto;
  padding-right: 20px;
}

.menu_header{
  font-family: 'Muli', sans-serif;
  float: right;
  list-style: none;
  padding-top: 20px;
}

.menu_header li {
  display: inline-block;
}

.menu_header a {
  color: #000000;
  padding-left: 50px;
}

.menu_header a:hover{
  color: #71AC29;
  padding-left: 50px;
}

/***** HOME ******/
.homesmoothies{
  max-width: 1800px;
  height: 650px;
}

.homebutton{
    color: #71AC29 ;
    text-align: center;
    padding-top: 30px;
}

/***** CONTACT ******/
.titlecontact{
  font-family: 'Muli', sans-serif;
  text-transform: uppercase;
  color: #000000 ;
}

.smoothiecontact{
  width: 100%;
  height: auto;
}
