body {
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Muli', sans-serif;
  text-transform: uppercase;
}

h4 a {
  color: #71AC29;
  text-decoration: none;
}

h4 a:hover {
  color: #71AC29;
  text-decoration: none;
}

/* menu header */
.logo {
  float: left;
  margin-left: 30px;
  margin-top: 5px;
  max-width: 120px;
}

.menu-honest-root {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.menu-honest-root .menu-honest-root-container ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.menu-honest-root .menu-honest-root-container li a {
  display: block;
  padding: 20px 20px;
  font-family: 'Muli', sans-serif;
  color: #000000;
  text-decoration: none;
}

.menu-honest-root .menu-honest-root-container li a:hover,
.menu-honest-root .menu-btn:hover {
  color: #71AC29;
}

.menu-honest-root .menu-honest-root-container .menu_header{
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.menu-honest-root .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 20px 20px;
  position: relative;
  user-select: none;
}

.menu-honest-root .menu-icon .navicon {
  background: #71AC29;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 20px;
}

.menu-honest-root .menu-icon .navicon:before,
.menu-honest-root .menu-icon .navicon:after {
  background: #71AC29;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.menu-honest-root .menu-icon .navicon:before {
  top: 5px;
}

.menu-honest-root .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.menu-honest-root .menu-btn {
  display: none;
}

.menu-honest-root .menu-btn:checked ~ .menu-honest-root-container .menu_header {
  max-height: 320px;
}

.menu-honest-root .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.menu-honest-root .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.menu-honest-root .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.menu-honest-root .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.mmenu-honest-root .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (min-width: 48em) {
  .menu-honest-root .menu-honest-root-container .menu_header {
    clear: none;
    float: right;
    max-height: none;
  }
  .menu-honest-root .menu-honest-root-container .menu_header li {
    float: left;
  }
  .menu-honest-root .menu-honest-root-container .menu_header li a {
    padding: 20px 30px;
  }
  .menu-honest-root .menu-icon {
    display: none;
  }
}