/***** PRODUITS single.php slider ******/

.single {
    max-height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
  }
  
@media only screen and (min-device-width: 1024px) {
  .left-part-container-1 {
    display: inline-block;
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
  }
  .left-part-container-2 {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  .left-part {
    width: 100%;
    height: 100%;
    overflow: auto;
  }
  .left-part .detox {
    z-index: -1;
    font-family: 'Nunito', sans-serif;
    font-size: 450%;
    color: #A7B635;
    max-width: 80%;
    display: inline-block;
    position: absolute;
    left: 0;
  }
  .left-part .esprit {
    z-index: -1;
    font-family: 'Nunito', sans-serif;
    font-size: 450%;
    color: #4D537E;
    max-width: 80%;
    display: inline-block;
    position: absolute;
    left: 0;
  }
  .left-part .force {
    z-index: -1;
    font-family: 'Nunito', sans-serif;
    font-size: 450%;
    color: #C72C48;
    max-width: 80%;
    display: inline-block;
    position: absolute;
    left: 0;
  }
  .left-part .energie {
    z-index: -1;
    font-family: 'Nunito', sans-serif;
    font-size: 450%;
    color: #F2CF40;
    max-width: 80%;
    display: inline-block;
    position: absolute;
    left: 0;
  }
  .left-part .image-png {
    display: inline-block;
    position: absolute;
    max-width: 50%;
    height: auto;
    right: -20%;
  }
  .left-part .image-png img {
    max-height: 100%;
    max-width: 100%;
  }
  .titre-categorie {
    font-family: 'Muli', sans-serif;
    color: white;
    font-size: 50px;
    position: absolute;
    right: -110px;
    bottom: 30%;
    white-space: nowrap;
    display: inline-block;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: left top;
    transform-origin: left top;
    overflow: auto;
    max-width: calc(100vh - 200px);
  }
}
  
@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  .left-part-container-1 {
    display: inline-block;
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
  }
  .left-part-container-2 {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  .left-part {
    width: 100%;
    height: 100%;
    overflow: auto;
  }
  .left-part .detox {
    font-family: 'Nunito', sans-serif;
    font-size: 320%;
    color: #A7B635;
    max-width: 50%;
    display: inline-block;
    position: absolute;
    margin-top: 6%;
    left: 0;
  }
  .left-part .esprit {
    font-family: 'Nunito', sans-serif;
    font-size: 320%;
    color: #4D537E;
    max-width: 50%;
    display: inline-block;
    position: absolute;
    margin-top: 6%;
    left: 0;
  }
  .left-part .force {
    font-family: 'Nunito', sans-serif;
    font-size: 320%;
    color: #C72C48;
    max-width: 50%;
    display: inline-block;
    position: absolute;
    margin-top: 6%;
    left: 0;
  }
  .left-part .energie {
    font-family: 'Nunito', sans-serif;
    font-size: 320%;
    color: #F2CF40;
    max-width: 50%;
    display: inline-block;
    position: absolute;
    margin-top: 6%;
    left: 0;
    }
  .left-part .image-png {
    display: inline-block;
    position: absolute;
    max-width: 100%;
    height: auto;
    right: -35%;
    margin-top: 25%;
  }
  .left-part .image-png img {
    max-height: 120%;
    max-width: 120%;
  }
    .titre-categorie {
      font-family: 'Muli', sans-serif;
      color: white;
      font-size: 40px;
      position: absolute;
      right: -120px;
      bottom: 30%;
      white-space: nowrap;
      display: inline-block;
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
      -webkit-transform-origin: left top;
      transform-origin: left top;
      overflow: auto;
      max-width: calc(100vh - 200px);
    }
  }
  
  @media only screen and (max-device-width: 767px) {
    .left-part-container-1 {
      display: inline-block;
      width: 100%;
      height: 100%;
    }
    .left-part-container-2 {
      height: 100%;
      width: 100%;
    }
    .left-part {
      text-align: center;
      width: 100%;
      height: 100%;
    }
    .left-part .detox {
      font-size: 400%;
      text-align: left;
      max-width: 10%;
      display: inline-block;
      position: absolute;
      margin-top: 4%;
      z-index: -1;
    }
    .left-part .esprit {

      font-size: 450%;
      text-align: left;
      max-width: 90%;
      display: inline-block;
      position: absolute;
      margin-top: 4%;
      z-index: -1;
    }
    .left-part .force {
      font-size: 450%;
      text-align: left;
      max-width: 90%;
      display: inline-block;
      position: absolute;
      margin-top: 4%;
      z-index: -1;
    }
    .left-part .energie {
      font-size: 450%;
      text-align: left;
      max-width: 90%;
      display: inline-block;
      position: absolute;
      margin-top: 4%;
      z-index: -1;
    }
    .left-part .image-png {
      display: inline-block;
      max-width: 80%;
      height: auto;
      margin-top: 35%;
      z-index: 0;
      vertical-align: middle;
    }
    .left-part .image-png img {
      max-height: 100%;
      max-width: 100%;
    }
    .titre-categorie {
      font-family: 'Nunito', sans-serif;
      color: white;
      font-size: 480%;
      position: relative;
      white-space: nowrap;
      display: inline-block;
      margin: -25px auto;
      bottom: -20px;
    }
  }
  
  @media only screen and (min-device-width: 1024px) {
    .right-part-container-1.detox {
      display: inline-block;
      position: absolute;
      right: 0;
      max-width: 50%;
      text-align: center;
      background-color: #A7B635;
      height: 100%;
      overflow: hidden;
      box-shadow: -4px 0px 6px -2px rgba(0, 0, 0, 0.34);
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
    }
    .right-part-container-1.esprit {
      display: inline-block;
      position: absolute;
      right: 0;
      max-width: 50%;
      text-align: center;
      background-color: #4D537E;
      height: 100%;
      overflow: hidden;
      box-shadow: -4px 0px 6px -2px rgba(0, 0, 0, 0.34);
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
    }
    .right-part-container-1.force {
      display: inline-block;
      position: absolute;
      right: 0;
      max-width: 50%;
      text-align: center;
      background-color: #C72C48;
      height: 100%;
      overflow: hidden;
      box-shadow: -4px 0px 6px -2px rgba(0, 0, 0, 0.34);
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
    }
    .right-part-container-1.energie {
      display: inline-block;
      position: absolute;
      right: 0;
      max-width: 50%;
      text-align: center;
      background-color: #F2CF40;
      height: 100%;
      overflow: hidden;
      box-shadow: -4px 0px 6px -2px rgba(0, 0, 0, 0.34);
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
    }
    .right-part-container-2 {
      height: 100%;
      width: 100%;
      overflow: hidden;
    }
    .right-part {
      width: 100%;
      height: 100%;
      overflow: auto;
      margin-top: 40px;
    }
    .right-part .produit-hr {
      max-width: 20%;
      color: white;
      display: block;
      border: 0;
      border-top: 2px solid #ffffff;
    }
    /* Title */
    .right-part .titre-produit {
      font-family: 'Muli', sans-serif;
      margin: 80px 100px 50px 100px;
      font-size: 150%;
      color: white;
    }
    /* 1st Information */
    .right-part .informations {
      font-family: 'Nunito', sans-serif;
      margin: 20px 80px;
      color: white;
    }
    .right-part .informations .sous-titre {
      text-align: center;
    }
    .right-part .informations .texte-normale {
      text-align: justify;
      text-align-last: left;
    }
    /* 2nd Information */
    .right-part .superfood {
      font-family: 'Nunito', sans-serif;
      text-align: center;
      margin: 40px 80px;
      color: white;
    }
    .right-part .superfood .sous-titre {
      text-align: center;
    }
    .right-part .superfood .texte-normale {
      text-align: justify;
      text-align-last: left;
    }
    /* Menu infors nutrion */
    .right-part .nutrition {
      font-family: 'Nunito', sans-serif;
      text-align: justify;
      margin: 40px 160px;
      color: white;
    }
    .right-part .nutrition .sous-titre {
      text-align: center;
    }
    #menu-container {
      display: table;
      width: 100%;
    }
    .table-row {
      display: table-row;
    }
    .table-column {
      padding: 5px 0px;
      display: table-cell;
    }
    .left {
      text-align: left;
    }
    .right {
      text-align: right;
    }
  }
  
  @media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
    .right-part-container-1.detox {
      display: inline-block;
      position: absolute;
      right: 0;
      max-width: 50%;
      text-align: center;
      background-color: #A7B635;
      height: 100%;
      overflow: hidden;
      box-shadow: -4px 0px 6px -2px rgba(0, 0, 0, 0.34);
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
    }
    .right-part-container-1.esprit {
      display: inline-block;
      position: absolute;
      right: 0;
      max-width: 50%;
      text-align: center;
      background-color: #4D537E;
      height: 100%;
      overflow: hidden;
      box-shadow: -4px 0px 6px -2px rgba(0, 0, 0, 0.34);
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
    }
    .right-part-container-1.force {
      display: inline-block;
      position: absolute;
      right: 0;
      max-width: 50%;
      text-align: center;
      background-color: #C72C48;
      height: 100%;
      overflow: hidden;
      box-shadow: -4px 0px 6px -2px rgba(0, 0, 0, 0.34);
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
    }
    .right-part-container-1.energie {
      display: inline-block;
      position: absolute;
      right: 0;
      max-width: 50%;
      text-align: center;
      background-color: #F2CF40;
      height: 100%;
      overflow: hidden;
      box-shadow: -4px 0px 6px -2px rgba(0, 0, 0, 0.34);
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
    }
    .right-part-container-2 {
      height: 100%;
      width: 100%;
      overflow: hidden;
    }
    .right-part {
      width: 100%;
      height: 100%;
      overflow: auto;
      margin-top: 30px;
    }
    .right-part .produit-hr {
      max-width: 20%;
      color: white;
      display: block;
      border: 0;
      border-top: 2px solid #ffffff;
    }
    /* Title */
    .right-part .titre-produit {
      font-family: 'Muli', sans-serif;
      margin: 80px 60px 50px 60px;
      font-size: 150%;
      color: white;
    }
    /* 1st Information */
    .right-part .informations {
      font-family: 'Nunito', sans-serif;
      margin: 20px 55px;
      color: white;
    }
    .right-part .informations .sous-titre {
      text-align: center;
    }
    .right-part .informations .texte-normale {
      text-align: justify;
      text-align-last: left;
    }
    /* 2nd Information */
    .right-part .superfood {
      font-family: 'Nunito', sans-serif;
      text-align: center;
      margin: 40px 55px;
      color: white;
    }
    .right-part .superfood .sous-titre {
      text-align: center;
    }
    .right-part .superfood .texte-normale {
      text-align: justify;
      text-align-last: left;
    }
    /* Menu infors nutrion */
    .right-part .nutrition {
      font-family: 'Nunito', sans-serif;
      text-align: justify;
      margin: 40px 80px;
      color: white;
    }
    .right-part .nutrition .sous-titre {
      text-align: center;
    }
    #menu-container {
      display: table;
      width: 100%;
    }
    .table-row {
      display: table-row;
    }
    .table-column {
      padding: 5px 0px;
      display: table-cell;
    }
    .left {
      text-align: left;
    }
    .right {
      text-align: right;
    }
  }
  
  @media only screen and (max-device-width: 767px) {
    .single {
      overflow-y: scroll
    }
    .left-part .detox {
      font-family: 'Nunito', sans-serif;
      font-size: 430%;
      color: #A7B635;
      text-align: left;
      max-width: 90%;
      margin-top: 4%;
      left: 0;
      z-index: -1;
    }
    .left-part .esprit {
      font-family: 'Nunito', sans-serif;
      font-size: 430%;
      color: #4D537E;
      text-align: left;
      max-width: 90%;
      margin-top: 4%;
      left: 0;
      z-index: -1;
    }
    .left-part .force {
      font-family: 'Nunito', sans-serif;
      font-size: 430%;
      color: #C72C48;
      text-align: left;
      max-width: 90%;
      margin-top: 4%;
      left: 0;
      z-index: -1;
    }
    .left-part .energie {
      font-family: 'Nunito', sans-serif;
      font-size: 430%;
      color: #F2CF40;
      text-align: left;
      max-width: 90%;
      margin-top: 4%;
      left: 0;
      z-index: -1;
    }
    .right-part-container-1.detox {
      display: inline-block;
      max-width: 100%;
      text-align: center;
      background-color: #A7B635;
      height: 130%;
      box-shadow: -4px 0px 6px -2px rgba(0, 0, 0, 0.34);
    }
    .right-part-container-1.esprit {
      display: inline-block;
      max-width: 100%;
      text-align: center;
      background-color: #4D537E;
      height: 130%;
      box-shadow: -4px 0px 6px -2px rgba(0, 0, 0, 0.34);
    }
    .right-part-container-1.force {
      display: inline-block;
      max-width: 100%;
      text-align: center;
      background-color: #C72C48;
      height: 130%;
      box-shadow: -4px 0px 6px -2px rgba(0, 0, 0, 0.34);
    }
    .right-part-container-1.energie {
      display: inline-block;
      max-width: 100%;
      text-align: center;
      background-color: #F2CF40;
      height: 130%;
      box-shadow: -4px 0px 6px -2px rgba(0, 0, 0, 0.34);
    }
    .right-part-container-2 {
      height: 100%;
      width: 100%;
    }
    .right-part {
      width: 100%;
      height: 100%;
    }
    .right-part .produit-hr {
      max-width: 20%;
      color: white;
      display: block;
      border: 0;
      border-top: 2px solid #ffffff;
    }
    /* Title */
    .right-part .titre-produit {
      font-family: 'Muli', sans-serif;
      margin: 80px 12% 50px 12%;
      font-size: 150%;
      color: white;
    }
    /* 1st Information */
    .right-part .informations {
      font-family: 'Nunito', sans-serif;
      margin: 20px 10%;
      color: white;
    }
    .right-part .informations .sous-titre {
      text-align: center;
    }
    .right-part .informations .texte-normale {
      text-align: justify;
      text-align-last: left;
    }
    /* 2nd Information */
    .right-part .superfood {
      font-family: 'Nunito', sans-serif;
      text-align: center;
      margin: 40px 10%;
      color: white;
    }
    .right-part .superfood .sous-titre {
      text-align: center;
    }
    .right-part .superfood .texte-normale {
      text-align: justify;
      text-align-last: left;
    }
    /* Menu infors nutrion */
    .right-part .nutrition {
      font-family: 'Nunito', sans-serif;
      text-align: justify;
      margin: 40px 15% 0px 15%;
      color: white;
    }
    .right-part .nutrition .sous-titre {
      text-align: center;
    }
    #menu-container {
      position: relative;
      display: table;
      width: 100%;
    }
    .table-row {
      display: table-row;
    }
    .table-column {
      padding: 5px 0px;
      display: table-cell;
    }
    .left {
      text-align: left;
    }
    .right {
      text-align: right;
    }
  }